.item{
    width: 100%;
    background: round;
    display: flex;
    justify-content: center;
    align-items: center;
    
    a{
        color: white;
    }
    &:hover{
        cursor:pointer;
    }
    
}
.wrap{
    display: flex;
    height: 1100px;
}