.item{
    width: 100%;
    background: round;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: white;
    }
    
}
.wrap{
    display: flex;
    height: 1100px;
}