.header{
    height: 8rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

    .wrap{
        max-width: 1450px;
        margin: 0 auto;
    }
    .logo{
        img{
            width: 10%;
        }
    }
}
